/* font */
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Merienda+One&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Xanh+Mono&display=swap');

*{
  font-family: 'IBM Plex Sans', sans-serif;
}
.icone{
  width:40px ;
  height: 40px ;
  background: #EDEEF0;
}
.item .content h2{
color: #000;
  font-size: 2rem;
  }
.item .content p{
color: 
#5C5C5C;
font-size: 1.3rem;
}
.item-name{
  color: 
  #000000;

  font-weight: 600;
font-size: 18px;
line-height: 23px;
}

.item-footer {
  color: 
  #5C5C5C;
} 

.event i ,.event span {
  font-size: 1.4rem;
  color: #000;

}


.event span {

  font-weight: 500;
}

.item .but{
  color: 
  #E56135;
  font-weight: 600;
  font-size: 15px;
}

.choose::after{
  content: unset;
}

.choose , .choose:hover , .choose:focus{
  background-color: 
  #BFBFC0;
}
.job{
  color: 
  #02B875 !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .item .content h2{
      font-size: 1.2rem;
      padding-right:40px ;
      }
    .item .content p{
    font-size: .9rem;
    }

    .item-desc span {
      font-size: 13px;
      color: #000;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) and (max-width: 992px) {
    .item .content h2{
      font-size: 1.5rem;
      padding-right:22px ;
      }
    .item .content p{
    font-size: 1.2rem;
    }

    .item-desc span {
      font-size: .9rem;
      color: #000;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
   @media only screen and (min-width: 800px) and (max-width: 1200px) {
    .item-desc span {
      font-size: 1.3rem;
      color: #000;
    }
  } 



/* modal */
.modal-title{
  color: #008A45;
  font-weight: 500;
font-size: 1rem !important;
line-height: 16px;

}
.modal-header{
  background: #EFFFF4;

}
.closedModek{
  position: absolute !important;
  bottom: 100% !important;
  left: 100% !important;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  background-color:#FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


.modal-body input{
  background-color: #F7F8FA;

}


.modal-body input::placeholder{
  color: #8A8A8A;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}

.modal-body .registerbtn{
  background-color: 
  #2F6CE5;
  color: #fff;
  font-weight: 600;
font-size: 1rem;
line-height: 16px;
}

.fa-facebook{
  color: #2F6CE5;
}


.fa-google{
  color: #F14336;
}

.modal-body button{
  font-weight: 400;
  font-size: 1rem;
line-height: 16px;
padding: 13px 0;
}
.register-foot{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #000000;
}


.pointer{
  cursor: pointer;
}